
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim</del></p>
<p><del>#2 Tüm başlıklarada Paging</del></p>
<p><del>#3 Session ile Message</del></p>
<p><del>#4 Oturum yönetiminin mimariye taşınması</del></p>


