
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yapılacaklar</h2>

<br />
<p><del> Başlıklarda Arama Kutucuğu</del> Görsel Düzenlemeler yapılması gereklı</p>
<p><del> Yazar Görselleri Düzenlenecek</del> Görsellerde böyutlara sınırlama getirilmeli</p>
<p> <del>Grafik ekleyeceğiz</del> - Dinamik yapılmadı veritabanına bağlayıp dinamik yapılmalı</p>
<p> <del>Vitrin Teması Eklenecek</del>  -  Kar taneleri kaldırılacak düzenlemeler yapılacak</p>
<p> Gelen Kutusunda arama işlemleri</p>
<p> Yetkilendirmeler</p>
<p> <del>Hata sayfası layouttan ayrılacak</del> Butona yönlendirmeler yapılacak</p>
<p> <del>Sözlük ve Vitrin ayrılacak</del></p>
<p> <del>Herhangi bir tablo raporlanacak</del></p>
<p> Proje Dosyaları Sunucuya Taşınacak</p>
<p> Proje Canlıya taşınacak</p>
<p> Alan adı alınacak</p>
<p><del>IFrame Ekleme</del></p>
<p>Sweet Alert</p>
<p>Admin Çıkış Yap</p>
<p>KAtegori ekleme kısmında kayıt eklediğinde butona tıkladığında seetalert yap</p>